@font-face {
  font-weight: 400;
  font-family: "Daniel";
  font-style: normal;
  src:  url("../fonts/daniel-regular.woff2") format("woff2"),
        url("../fonts/daniel-regular.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src:  url("../fonts/roboto-regular.woff2") format("woff2"),
        url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src:  url("../fonts/roboto-bold.woff2") format("woff2"),
        url("../fonts/roboto-bold.woff") format("woff");
}
