$mobile-widths-only: "(min-width: 20px) and (max-width: 659px)";
$tablet-widths: "(min-width: 660px)";
$tablet-widths-only: "(min-width: 660px) and (max-width: 959px)";
$desktop-widths: "(min-width: 960px)";

$primary: #5CDB95;
$accent: #05386B;
$white: #EDF5E1;
